.fligth-booker {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fligth-booker__select {
  width: 100%;
}

.fligth-booker__date-input {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fligth-booker__button {
  width: 100%;
}
